body {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 27px;
  color: #333;
  padding-bottom: 30px;
}

h1,
h2,
h3,
h4 {
  font-weight: 900;
}

h1 {
  margin: 0;
  padding: 0;
}

small {
  padding-top: 20px;
  display: inline-block;
  line-height: 85%;
}

header {
  background-color: #e2e2e2;
  padding: 120px 0;
  margin-bottom: 20px;
}

article {
  margin: 60px 0;
}

.u-todo {
  color: #ccc;
  border-color: #ccc !important;
}

.icon {
  border: 2px solid #333;
  display: table;
  margin: 10px 0;
}

.icon-lg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}

.icon-md {
  height: 70px;
  width: 70px;
  border-radius: 35px;
}

.icon-sm {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}

.icon-lg span {
  font-size: 40px;
  line-height: 40px;
}

.icon-md span {
  font-size: 30px;
  line-height: 30px;
}

.icon-sm span {
  font-size: 15px;
  line-height: 15px;
}

.icon:hover {
  background-color: #333;
}

.icon:hover span {
  color: white;
}

.icon span {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
